In [19]:
import pandas as pd
import io
import requests

In [25]:
def format_mth(mth):
    mth = mth.drop(mth.index[:4])
    mth.columns = ['Year', 'Average Temperature']
    mth['Year'] = mth['Year'].str[:4].astype(int)
    mth['Average Temperature'] = mth['Average Temperature'].apply(lambda x: (float(x)-32)*(5/9))
    return mth

In [26]:
april=pd.read_csv('262-tavg-1-5-1950-2019.csv')
april = april.drop(' April', axis=1)
april = format_mth(april)
april

    Year  Average Temperature
4   1950             6.611111
5   1951             8.111111
6   1952            10.388889
7   1953             7.833333
8   1954            12.000000
..   ...                  ...
69  2015            11.611111
70  2016            10.888889
71  2017            12.222222
72  2018             6.000000
73  2019            10.500000

[70 rows x 2 columns]

In [34]:
may=pd.read_csv('262-tavg-1-5-1950-2019.csv')
may = may.drop(' May', axis=1)
may = format_mth(may)

In [30]:
june=pd.read_csv('262-tavg-1-6-1950-2019.csv')
june= june.drop(' June', axis=1)
june = format_mth(june)
june

    Year  Average Temperature
4   1950            20.777778
5   1951            19.555556
6   1952            23.666667
7   1953            23.166667
8   1954            22.611111
..   ...                  ...
69  2015            21.666667
70  2016            22.888889
71  2017            21.888889
72  2018            23.166667
73  2019            21.222222

[70 rows x 2 columns]

In [36]:
july = pd.read_csv('262-tavg-1-7-1950-2019.csv')
july= july.drop(' July', axis=1)
july = format_mth(july)

In [35]:
august = pd.read_csv('262-tavg-1-8-1950-2019.csv')
august= august.drop(' August', axis=1)
august = format_mth(august)

In [38]:
september = pd.read_csv('262-tavg-1-9-1950-2019.csv')
september = september.drop(' September', axis=1)
september = format_mth(september)

In [37]:
october = pd.read_csv('262-tavg-1-10-1950-2019.csv')
october = october.drop(' October', axis=1)
october = format_mth(october)

In [53]:
all_temps = pd.merge(april, may, on="Year")
all_temps = pd.merge(all_temps, june, on="Year")
all_temps = pd.merge(all_temps, july, on="Year")
all_temps = pd.merge(all_temps, august, on='Year')
all_temps = pd.merge(all_temps, september, on='Year')
all_temps = pd.merge(all_temps, october, on="Year")

all_temps.columns = ['Year', 'April Avg Temps', 'May Avg Temps', 'June Avg Temps', 'July Avg Temps', 'August Avg Temps', 'September Avg Temps', 'October Avg Temps']
all_temps

,Year,April Avg Temps,May Avg Temps,June Avg Temps,July Avg Temps,August Avg Temps,September Avg Temps,October Avg Temps
0,1950,6.611111,15.944444,20.777778,21.611111,20.444444,17.500000,13.833333
1,1951,8.111111,16.944444,19.555556,22.833333,21.777778,16.333333,11.777778
2,1952,10.388889,15.888889,23.666667,24.277778,22.111111,18.444444,8.944444
3,1953,7.833333,16.388889,23.166667,23.833333,23.166667,18.611111,14.055556
4,1954,12.000000,13.611111,22.611111,25.055556,22.833333,19.333333,11.555556
...,...,...,...,...,...,...,...,...
65,2015,11.611111,16.777778,21.666667,23.277778,21.722222,20.722222,12.833333
66,2016,10.888889,16.222222,22.888889,23.833333,23.444444,20.277778,14.055556
67,2017,12.222222,15.833333,21.888889,24.055556,21.000000,19.555556,13.055556
68,2018,6.000000,20.222222,23.166667,23.666667,22.944444,19.888889,10.777778
69,2019,10.500000,15.500000,21.222222,24.333333,22.111111,20.944444,10.611111