In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statistics
from math import sqrt
import sklearn
from sklearn import metrics
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [ ]:
#data on atmospheric carbon dioxide concentrations 
co2 = pd.read_excel("co2ppm.xlsx")

y1 = co2['co2_ppm'].loc[:40]
y2 = co2['co2_ppm'].loc[40:]

plt.plot(co2['co2_ppm'].loc[:40], label="Past Data")
plt.plot(co2['co2_ppm'].loc[40:], label="Projected Data", color='red')
plt.xticks(np.arange(50), range(1980, 2030), rotation=90)
ax=plt.gca()
[label.set_visible(False) for (index,label) in enumerate(ax.xaxis.get_ticklabels()) if index % 2 != 0]
plt.legend(loc="upper left")
plt.ylabel("Atmospheric CO2 Concentrations (ppm)")
annual_co2 = co2.set_index('Year')
print(annual_co2)

In [ ]:
#data on soybean yields 
soy_yield = pd.read_excel("annual_midwest_soybean_yield.xlsx")

#soy_yield.plot(x ='Year', y='Soybean Yield (bushels/acre)', title = "Annual Soybean Yield in the US Midwest", kind = 'line')
#annual_soy_yield = soy_yield.set_index('Year')

tick_spacing = 2
fig, ax = plt.subplots(1,1)
ax.plot(soy_yield['Year'], soy_yield['Soybean Yield (bushels/acre)'], color='green')
ax.xaxis.set_major_locator(ticker.MultipleLocator(tick_spacing))
plt.xlabel('Year')
tick_spacing = 3
ax.yaxis.set_major_locator(ticker.MultipleLocator(tick_spacing))
plt.ylabel('Soybean Yield (bushels/acre)')
plt.xticks(rotation=90)
ax.set_title("Annual Soybean Yield in the US Midwest")
plt.grid()
plt.show()

In [ ]:
temps_precip = pd.read_excel("avg_temps_precip.xlsx")
temps_precip
#group the different months together in order of year
months = temps_precip.sort_values(['Year'],ascending=True).groupby('Month').plot(x='Year', kind='line')

In [ ]:
climate_yearly = temps_precip.groupby('Year')
for key, item in climate_yearly:
    print(climate_yearly.get_group(key), "\n\n")

In [23]:
projected_temps_precip = pd.read_excel("projected_temp_precip.xlsx")
projected_temps_precip

,Year,Projected Annual Temperature Increase (celsius),Projected Annual Precipitation Increase Spring(%),Projected Annual Precipitation Increase Summer (%),Projected Annual Precipitation Increase Fall (%)
0,2020,0.06,1,0.625,0.2
1,2021,0.12,2,1.250,0.4
2,2022,0.18,3,1.875,0.6
3,2023,0.24,4,2.500,0.8
4,2024,0.30,5,3.125,1.0
5,2025,0.36,6,4.375,1.2
6,2026,0.42,7,5.000,1.4
7,2027,0.60,10,5.625,1.6
8,2028,0.66,11,6.250,1.8

In [2]:
all_data = pd.read_excel("all_data.xlsx")

np_all_data = all_data.to_numpy()
X = np_all_data[:278, :4] 
y = np_all_data[:278, 5:]

X_projected = np_all_data[278:, :4]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.2)
regressor = LinearRegression()  
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

    Actual  Predicted
0     25.8  28.637925
1     35.6  36.880764
2     27.5  29.732152
3     39.5  43.976502
4     46.5  49.474697
5     44.0  45.040497
6     52.6  48.330597
7     34.0  34.128534
8     44.6  46.733230
9     34.2  31.925117
10    32.5  33.047740
11    34.7  34.682993
12    46.5  49.453523
13    39.5  43.960279
14    30.0  32.511344
15    34.0  34.136079
16    32.5  33.011190
17    43.0  42.875327
18    42.0  45.605575
19    25.7  30.262206
20    42.0  43.432480
21    35.6  36.848873
22    32.5  33.558186
23    49.0  38.482721
24    26.9  30.843688
25    42.3  36.302072
26    44.0  45.082179
27    33.6  31.366312
28    34.0  34.115637
29    34.2  31.933775
30    34.0  41.206646
31    38.0  39.626194
32    37.5  37.423355
33    46.9  49.974399
34    34.0  41.215844
35    26.9  30.822800
36    33.6  31.404355
37    46.5  49.426344
38    44.6  44.529927
39    48.0  40.688162
40    36.2  39.056703
41    28.3  29.155210
42    34.2  31.918136
43    28.3  29.152788
44    43.7  41.803500
45    39.5  40.131969
46    40.0  46.199136
47    49.5  48.887508
48    32.5  35.755366
49    37.5  37.363802
50    34.0  41.218102
51    42.0  45.631230
52    39.5  43.966019
53    33.6  31.400604
54    42.0  45.563510
55    38.0  39.589738

In [3]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Squared Error: 12.3574703745019
Root Mean Squared Error: 3.515319384423256
Mean Absolute Error: 2.6936967046073135

In [ ]:
#graph the results
plt.plot(y_test, marker='', color='blue', linewidth=2, label='actual')
plt.plot(y_pred, marker='', color='red', linewidth=2, label='predicted')
plt.legend()
plt.figure(figsize=(50,20))
plt.show()

In [ ]:
y_projected = regressor.predict(X_projected)
df = pd.DataFrame({'Projected': y_projected.flatten()})
df

In [5]:
#with outliers removed 
#this line taken from: https://stackoverflow.com/questions/23199796/detect-and-exclude-outliers-in-pandas-data-frame
reg_data = all_data[all_data.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]
reg_data

np_reg_data = reg_data.to_numpy()
X = np_reg_data[:277, :4] 
y = np_reg_data[:277, 5:]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.2)
regressor = LinearRegression()  
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

    Actual  Predicted
0     48.0  40.106304
1     27.5  29.563836
2     42.0  42.858884
3     37.5  34.856523
4     32.5  35.814285
5     35.6  36.860831
6     52.6  47.810737
7     32.5  32.473782
8     32.5  35.235632
9     49.0  38.376389
10    30.0  32.580900
11    48.0  46.994563
12    37.5  34.870871
13    36.2  38.469666
14    37.5  36.882627
15    49.0  37.664115
16    25.7  30.038804
17    25.8  28.280396
18    48.0  40.046373
19    49.0  38.089518
20    48.0  47.323759
21    38.0  39.242591
22    34.2  31.294406
23    44.6  44.064930
24    46.9  49.405858
25    46.5  48.668181
26    49.5  48.493175
27    49.0  37.852464
28    43.0  42.825686
29    46.5  48.754052
30    44.0  44.622112
31    42.0  42.806172
32    26.9  30.628002
33    48.0  47.577825
34    35.6  36.818379
35    44.0  44.410679
36    33.6  31.122743
37    34.0  33.635303
38    26.9  30.423763
39    33.6  30.882011
40    39.5  39.546617
41    34.2  31.984456
42    36.2  38.798564
43    42.3  35.843597
44    35.6  36.673477
45    42.0  43.067744
46    49.5  48.119054
47    47.8  46.536074
48    33.6  30.979039
49    42.0  43.176517
50    40.0  46.085041
51    37.5  37.425798
52    43.0  42.357353
53    46.5  49.483429
54    32.5  32.428644

In [6]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Squared Error: 16.268039916477477
Root Mean Squared Error: 4.033365829735443
Mean Absolute Error: 2.781750723892427

In [ ]:
#graph the results
plt.plot(y_test, marker='', color='blue', linewidth=2, label='actual')
plt.plot(y_pred, marker='', color='red', linewidth=2, label='predicted')
plt.legend()
plt.figure(figsize=(50,20))
plt.show()

In [ ]:
y_projected = regressor.predict(X_projected)
df = pd.DataFrame({'Projected': y_projected.flatten()})
df

In [7]:
#ridge regression
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.01) 
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.2)
ridge.fit(X_train, y_train)
y_pred = ridge.predict(X_test)
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

    Actual  Predicted
0     38.0  39.481205
1     46.9  50.213504
2     44.0  45.099955
3     39.5  44.065794
4     42.0  45.775269
5     42.0  43.217716
6     49.5  48.331619
7     43.0  42.737900
8     25.8  28.149467
9     48.0  48.273459
10    49.0  38.216605
11    47.8  47.240122
12    25.8  28.505070
13    48.0  48.153458
14    44.6  46.680412
15    32.5  35.714504
16    33.6  31.149198
17    30.0  32.030980
18    49.0  37.984084
19    42.3  36.112026
20    35.6  36.631555
21    28.3  28.982748
22    43.0  42.774838
23    34.0  41.331570
24    44.0  44.712111
25    49.0  37.537972
26    34.0  33.721296
27    46.9  49.863788
28    34.2  31.375162
29    37.5  34.524405
30    49.5  48.635656
31    33.6  31.253718
32    39.5  43.408499
33    32.5  32.751813
34    44.6  46.700388
35    25.8  28.635541
36    34.0  33.740767
37    49.5  49.028938
38    49.0  37.419797
39    25.8  28.331726
40    44.2  41.967776
41    42.0  45.247987
42    44.0  44.792846
43    42.0  43.158529
44    32.5  35.496801
45    37.5  34.901604
46    44.6  46.790785
47    47.8  46.864277
48    34.0  41.514422
49    33.6  31.335587
50    38.0  38.945225
51    32.5  33.494591
52    42.0  45.315943
53    36.2  38.572139
54    39.5  39.799946

In [8]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Squared Error: 15.87674284104554
Root Mean Squared Error: 3.9845630677711124
Mean Absolute Error: 2.7670255152053196

In [ ]:
#graph the results
plt.plot(y_test, marker='', color='blue', linewidth=2, label='actual')
plt.plot(y_pred, marker='', color='red', linewidth=2, label='predicted')
plt.legend()
plt.figure(figsize=(50,20))
plt.show()

In [ ]:
y_projected = ridge.predict(X_projected)
df = pd.DataFrame({'Projected': y_projected.flatten()})
df

In [14]:
#lasso regression
from sklearn.linear_model import Lasso

lasso = Lasso()
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.2)
lasso.fit(X_train,y_train)
y_pred = lasso.predict(X_test)
coeff_used = np.sum(lasso.coef_!=0)
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

Mean Squared Error: 14.47606390654438
Root Mean Squared Error: 3.8047422917386116
Mean Absolute Error: 2.8830532563472007

    Actual  Predicted
0     27.5  29.906981
1     25.8  29.129235
2     46.5  48.813947
3     46.9  49.184169
4     39.5  43.357891
5     48.0  47.453735
6     30.0  32.798855
7     33.6  31.515067
8     42.3  36.567009
9     43.7  41.583270
10    26.9  31.352008
11    49.0  38.068220
12    38.0  39.781575
13    52.6  47.846018
14    44.6  45.974683
15    44.2  42.310061
16    32.5  33.403381
17    36.2  39.201850
18    38.0  39.391047
19    39.5  43.430889
20    36.2  38.840802
21    48.0  46.633640
22    25.7  30.090429
23    25.7  30.886727
24    34.0  40.988972
25    39.5  43.843477
26    47.8  46.492640
27    44.2  42.026424
28    44.2  42.165736
29    44.6  44.106742
30    49.5  48.075257
31    32.5  33.929827
32    25.8  28.925415
33    43.0  42.503670
34    44.6  43.554909
35    49.0  37.726892
36    25.8  29.061251
37    44.6  44.172922
38    52.6  47.796750
39    35.6  37.137576
40    39.5  43.853705
41    34.7  35.001305
42    33.6  31.696092
43    35.6  36.899863
44    49.0  38.231196
45    25.8  29.263333
46    42.0  43.096364
47    37.5  35.655098
48    44.0  44.436187
49    44.6  43.898443
50    38.0  39.097249
51    25.7  30.750891
52    37.5  35.385098
53    34.7  34.889267
54    43.7  41.386335

In [ ]:
#graph the results
plt.plot(y_test, marker='', color='blue', linewidth=2, label='actual')
plt.plot(y_pred, marker='', color='red', linewidth=2, label='predicted')
plt.legend()
plt.figure(figsize=(50,20))
plt.show()

In [ ]:
y_projected = lasso.predict(X_projected)
df = pd.DataFrame({'Projected': y_projected.flatten()})
df

In [11]:
#ElasticNet 
from sklearn.linear_model import ElasticNet

In [12]:
enet = ElasticNet(alpha=0.25, l1_ratio=0.7)
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.2)
enet.fit(X_train, y_train)
y_pred = enet.predict(X_test)
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

    Actual  Predicted
0     42.0  45.678742
1     36.2  39.167819
2     40.0  46.007475
3     43.0  42.565729
4     26.9  31.291840
5     42.0  45.252378
6     26.9  31.064236
7     46.5  49.846148
8     47.8  47.252802
9     34.7  34.600709
10    44.0  45.273472
11    49.0  37.735509
12    48.0  47.548685
13    37.5  37.215632
14    49.0  37.871033
15    39.5  43.781156
16    49.5  48.700595
17    32.5  33.325150
18    28.3  29.084178
19    52.6  47.992670
20    34.0  41.343636
21    49.5  49.030655
22    48.0  48.029124
23    46.9  49.954556
24    37.5  35.407939
25    39.5  44.085066
26    49.0  38.314580
27    34.0  34.269510
28    25.7  30.273631
29    37.5  37.328243
30    46.5  49.174077
31    27.5  29.930152
32    25.8  28.650221
33    35.6  36.547332
34    34.0  34.046719
35    27.5  29.627129
36    35.6  37.247214
37    39.5  43.707684
38    44.6  44.330079
39    38.0  39.461825
40    34.0  40.985294
41    46.9  49.773489
42    43.0  42.783041
43    35.6  36.956316
44    40.0  46.432091
45    37.5  37.225650
46    32.5  33.518358
47    44.0  45.112136
48    43.0  42.589076
49    34.7  34.476009
50    47.8  46.946328
51    44.6  44.287341
52    34.2  31.835106
53    38.0  39.648624
54    25.8  28.431885

In [13]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Squared Error: 14.61317388478071
Root Mean Squared Error: 3.822718127822232
Mean Absolute Error: 2.6407500629793264

In [ ]:
#graph the results
plt.plot(y_test, marker='', color='blue', linewidth=2, label='actual')
plt.plot(y_pred, marker='', color='red', linewidth=2, label='predicted')
plt.legend()
plt.figure(figsize=(50,20))
plt.show()

In [ ]:
y_projected = enet.predict(X_projected)
df = pd.DataFrame({'Projected': y_projected.flatten()})
df

In [15]:
enet = ElasticNet(alpha=0.5, l1_ratio=0.7)
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.2)
enet.fit(X_train, y_train)
y_pred = enet.predict(X_test)
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

    Actual  Predicted
0     44.6  46.176689
1     43.0  42.524957
2     25.8  28.658675
3     39.5  39.956943
4     36.2  38.790545
5     27.5  29.785347
6     36.2  38.839369
7     43.7  41.456232
8     26.9  30.878830
9     49.0  38.389967
10    48.0  40.220174
11    33.6  31.240375
12    46.5  49.006403
13    46.5  48.994049
14    49.0  38.158868
15    52.6  47.851743
16    46.5  48.843657
17    48.0  47.328119
18    42.0  43.105888
19    32.5  33.379798
20    37.5  37.011359
21    34.0  33.780401
22    39.5  39.828387
23    44.0  44.625987
24    47.8  46.890405
25    42.0  45.174343
26    34.0  40.851210
27    48.0  40.420671
28    44.2  42.024733
29    25.7  30.321350
30    32.5  35.621430
31    39.5  43.593707
32    36.2  38.763968
33    44.6  44.098442
34    43.0  42.534081
35    33.6  31.451944
36    49.5  48.282922
37    43.0  42.565323
38    38.0  39.376038
39    40.0  45.774137
40    28.3  29.254573
41    30.0  32.448420
42    42.3  35.977106
43    34.0  34.073343
44    43.7  41.519357
45    44.6  44.090651
46    34.0  34.019958
47    39.5  43.569616
48    26.9  30.705679
49    44.6  44.164207
50    48.0  40.462345
51    37.5  35.137532
52    44.2  42.169282
53    34.2  31.757745
54    34.0  34.073984

In [16]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Squared Error: 13.87096243315793
Root Mean Squared Error: 3.7243740995176533
Mean Absolute Error: 2.716061543059147

In [ ]:
#graph the results
plt.plot(y_test, marker='', color='blue', linewidth=2, label='actual')
plt.plot(y_pred, marker='', color='red', linewidth=2, label='predicted')
plt.legend()
plt.figure(figsize=(50,20))
plt.show()

In [ ]:
y_projected = enet.predict(X_projected)
df = pd.DataFrame({'Projected': y_projected.flatten()})
df

In [21]:
enet = ElasticNet(alpha=0.75, l1_ratio=0.7)
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.2)
enet.fit(X_train, y_train)
y_pred = enet.predict(X_test)
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

    Actual  Predicted
0     48.0  47.211697
1     48.0  47.325907
2     49.5  48.360787
3     26.9  30.956082
4     32.5  35.655430
5     34.2  31.957559
6     32.5  33.575517
7     37.5  35.192806
8     33.6  31.519206
9     48.0  47.314486
10    46.9  49.339832
11    37.5  37.260788
12    36.2  38.896353
13    27.5  29.864097
14    35.6  36.741829
15    25.8  28.857384
16    42.0  43.090701
17    32.5  33.566634
18    28.3  29.316960
19    30.0  32.545963
20    44.6  46.221731
21    34.7  34.658110
22    44.6  46.259551
23    30.0  32.513988
24    39.5  43.646721
25    42.0  43.074964
26    43.7  41.428228
27    38.0  39.395528
28    25.8  28.851549
29    32.5  33.057557
30    30.0  32.529715
31    37.5  37.309670
32    48.0  40.441050
33    48.0  47.272609
34    43.7  41.507665
35    42.3  36.258652
36    39.5  39.941136
37    49.0  37.770105
38    35.6  36.793858
39    49.0  38.354302
40    26.9  30.979933
41    34.7  34.621309
42    30.0  32.528446
43    37.5  35.190019
44    37.5  35.080625
45    49.5  48.304692
46    46.5  48.870863
47    39.5  39.888088
48    42.0  45.136351
49    35.6  36.732187
50    28.3  29.308327
51    28.3  29.385995
52    43.7  41.478228
53    44.6  46.273760
54    44.2  42.020289

In [ ]:
#graph the results
plt.plot(y_test, marker='', color='blue', linewidth=2, label='actual')
plt.plot(y_pred, marker='', color='red', linewidth=2, label='predicted')
plt.legend()
plt.figure(figsize=(50,20))
plt.show()

In [22]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Squared Error: 9.908161529078754
Root Mean Squared Error: 3.147723229427701
Mean Absolute Error: 2.268331672957128

In [ ]:
y_projected = enet.predict(X_projected)
df = pd.DataFrame({'Projected': y_projected.flatten()})
df